<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Дополнительная страница</title>
</head>
<body>
        <div id="content"><p>Главная новость: страница работает</p></div>
        <input type="submit" id="backend" value="Вернуться обратно">
</body>
<script language="javascript" src="../js/jquery-2.1.4.min.js"></script>
<script language="javascript" src="../js/jquery.validate.min.js"></script>
<script language="javascript" src="../js/ajax.js"></script>
</html>